body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr.form-group {
    margin-bottom: 15px;
}

td {
    padding: 10px;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"], 
input[type="checkbox"] {
    margin-right: 10px;
    align: center
}

textarea {
    resize: vertical;
}

button {
    align:center
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
