* {
	margin: 0;
	padding: 0;
}

.bg-header-offwhite {
	--tw-bg-opacity: 0.5;
	background-color: rgb(237 224 211 / var(--tw-bg-opacity));
}

.text-custom-heading {
	--tw-bg-opacity: 0.8;
	color: rgb(51 50 49 / var(--tw-bg-opacity));
}

.turn-red-hover:hover {
	--tw-text-opacity: 0.65;
	color: rgb(255 0 0 / var(--tw-text-opacity));
	transition-duration: 0.3s;
}

.bg-header-orange-light {
	--tw-bg-opacity: 0.4;
	background-color: rgb(255 171 87 / var(--tw-bg-opacity));
}

.bg-header-orange-dark {
	--tw-bg-opacity: 1;
	background-color: rgb(255 195 122 / var(--tw-bg-opacity));
}

.bg-header-orange-dark:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(255 180 92 / var(--tw-bg-opacity));
	transition-duration: 0.3s;
}

.bg-header-orange-light:hover {
	--tw-bg-opacity: 0.7;
	background-color: rgb(255 171 87 / var(--tw-bg-opacity));
	transition-duration: 0.3s;
}

.turn-white-hover {
	color: rgb(62, 62, 62);
}

.turn-white-hover:hover {
	color: rgb(255, 255, 255);
	transition-duration: 0.2s;
}

.bg-color-btn {
	background-color: rgb(255, 193, 117);
	border: 2px white solid;
}

.bg-color-btn:hover {
	background-color: rgb(255, 172, 70);
	transition-duration: 0.3s;
}

.bold-500 {
	font-weight: 500;
}

.logo-border {
	border: 4px solid black;
	border-radius: 9999px;
}

.logo-size {
	width: 50px;
}

.meet-heading {
	font-size: 60px;
	background-color: rgb(255, 240, 234);
	text-align: center;
	font-weight: 800;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main-body-section-div {
	background-image: url("./Assets/Images/main-heading-body-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 650px;
	opacity: 0.9;
}

.main-body-heading-text {
	padding-top: 12.5%;
	padding-left: 5%;
}

.main-body-section-div h1 {
	font-size: 64px;
	padding-left: 2%;
	color: azure;
	font-weight: 700;
}

.main-body-section-div div {
	font-size: 32px;
	color: azure;
	font-weight: 400;
}

.pet-card-flex {
	background: linear-gradient(
		180deg,
		rgb(255, 220, 170) 0%,
		rgb(255, 195, 122) 100%
	);
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-card {
	display: flex;
	flex-direction: row;
	border: 5px rgb(255, 249, 208) solid;
	align-items: center;
	background-color: rgb(255, 231, 202);
	border-radius: 50px;
	overflow: hidden;
	width: 49%;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.one-line-card {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.main-img {
	padding-left: 30px;
	background-color: rgb(255, 231, 202);
	border-radius: 50px;
}

.card-img-div {
	border-radius: 50px;
}

.card-img-a {
	background-color: rgb(255, 231, 202);
	color: rgb(255, 231, 202);
}

.card-height {
	height: 370px;
}

.card-img-size {
	width: 330px;
	height: 330px;
}

.card-img-center-round {
	border-radius: 50px;
	overflow: hidden;
	background-color: rgb(255, 231, 202);
	border: 6px antiquewhite solid;
}
