* {
  margin: 0;
  padding: 0;
}

.meet-heading {
  font-size: 60px;
  background-color: rgb(255, 240, 234);
  text-align: center;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* CORRECT THE HERO IMAGE: I also changed the height to a 850px to give clearer view of the cute puppies */
.main-body-section-div {
  background: url("./Assets/Images/main-heading-body-bg.jpg") no-repeat center
    center/cover;
  min-height: 850px;
  opacity: 0.9;
  padding-top: 80px;
}

.main-body-heading-text {
  padding-top: 2%;
  padding-left: 5%;
}

/* CORRECT THE HERO IMAGE: The list element style was causing the whitespace. Removing it succesfully fixes the problem */
.main-body-section > li {
  list-style: none;
}

/*CORRECT THE HERO IMAGE: Added display flex property to move image element to the top left  */
.heading-main-body {
  display: flex;
  justify-content: start;
  width: 100%;
}

.main-body-section-div h1 {
  font-size: 64px;
  /* padding-left: 18.8%; */
  padding-top: 16.6%;
  color: azure;
  font-weight: 700;
}

/* CORRECT THE HERO IMAGE: Removed padding so .main-body-heading-text flex all the way to the flex start */
.main-body-section-div div {
  /* padding-removed */
  font-size: 32px;
  color: azure;
  font-weight: 400;
}

.pet-card-flex {
  background-image: url("./Assets/Images/pattern\ doodle.png");
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-card {
  display: flex;
  flex-direction: row;
  border: 5px rgb(255, 249, 208) solid;
  align-items: center;
  background-color: rgb(255, 231, 202);
  border-radius: 50px;
  overflow: hidden;
  width: 49%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.one-line-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-img {
  position: relative;
  background-color: rgb(255, 231, 202);
  border-radius: 50px;
  overflow: hidden;
  transition: all 300ms;
}

.hv {
  position: relative;
  background-size: cover;
  transition: all 300ms;
}

.hv::after {
  transition: all 300ms;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(255, 231, 202);
  top: 0;
  opacity: 0;
}

.hv:hover::after {
  opacity: 0.2;
}

.hv:hover {
  transform: scale(1.1);
}

.card-img-div {
  border-radius: 50px;
}

.card-img-a {
  background-color: rgb(255, 231, 202);
  color: rgb(255, 231, 202);
}

.card-height {
  height: 370px;
}

.card-img-size {
  width: 330px;
  height: 330px; 
  object-fit: cover;
  object-position: 25% 75%;;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: antiquewhite;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 2px transparent solid;
  background-color: brown;
  border-radius: 13px;
}
