
.bg-header-offwhite {
    --tw-bg-opacity: 0.5;
    background-color: rgb(237 224 211 / var(--tw-bg-opacity));
  }
  
  .text-custom-heading {
    --tw-bg-opacity: 0.8;
    color: rgb(51 50 49 / var(--tw-bg-opacity));
  }
  
  .turn-red-hover:hover {
    --tw-text-opacity: 0.65;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    transition-duration: 0.3s;
  }
  
  .bg-header-orange-light {
    --tw-bg-opacity: 0.4;
    background-color: rgb(255 171 87 / var(--tw-bg-opacity));
  }
  
  .bg-header-orange-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(255 195 122 / var(--tw-bg-opacity));
  }
  
  .bg-header-orange-dark:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 180 92 / var(--tw-bg-opacity));
    transition-duration: 0.3s;
  }
  
  .bg-header-orange-light:hover {
    --tw-bg-opacity: 0.7;
    background-color: rgb(255 171 87 / var(--tw-bg-opacity));
    transition-duration: 0.3s;
  }
  
  .turn-white-hover {
    color: rgb(62, 62, 62);
  }
  
  .turn-white-hover:hover {
    color: rgb(255, 255, 255);
    transition-duration: 0.2s;
  }
  
  .bg-color-btn {
    background-color: rgb(255, 193, 117);
    border: 2px white solid;
  }
  
  .bg-color-btn:hover {
    background-color: rgb(255, 172, 70);
    transition-duration: 0.3s;
  }
  
  .bold-500 {
    font-weight: 500;
  }
  
  .logo-border {
    border: 3px solid black;
    border-radius: 9999px;
  }
  
  .logo-size {
    width: 50px;
  }

  .logo-size:hover{
    animation: pulse 1s 1s infinite;
  }
  @keyframes pulse{
    25%{transform: scale(1.5);}
    50%{transform: scale(1);}
    75%{transform: scale(1.5);}
  }

/*make the icons white*/
.icon {
    filter: invert(99%) sepia(1%) saturate(200%) hue-rotate(190deg) brightness(117%) contrast(100%);
  }
  .mission-1 {
    display: flex;
    color: #000;
    margin: 0.5rem;
    width: 3.5rem;
    font-size: 1rem;
    font-weight: 700;
  }
  .mission-2 {
    display: flex;
    color: #000;
    margin: 0.7rem;
    width: 3.5rem;
    font-size: 1rem;
    font-weight: 700;
  }