@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

/* Base */

:root {
	--color-white: #000000;
	--color-cyan: #b6e4f9;
	--color-cyan-alpha: rgba(254, 254, 254, 0.75);
	--color-green: #31b564;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	color: var(--color-white);
	margin: 0;
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: var(--color-cyan);
	background-image: linear-gradient(
      115deg,
      var(--color-cyan-alpha),
      rgba(255, 255, 255, 0.7)
    ),
    url(https://i.pinimg.com/736x/44/d9/8c/44d98cccb725fd3a80c0446b9b2e646d.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	font-weight: 500;
	line-height: 1.1;
    font-size: 2.2rem;
}

p {
	font-size: 1.12rem;
}

h1, p {
	margin-top: 0;
	margin-bottom: .5rem;
}

label {
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	margin-bottom: .5rem;
}

input,
button,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	border: none;
}

.container {
	width: 100%;
	margin: 3.125rem auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

header {
	padding: 0 1rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

header h1 {
	font-weight: 600;
}

header p {
	font-style: italic;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.hint {
	margin-left: .25rem;
	font-size: .875rem;
	color: #e4e4e4;
}

/* Form */
form {
	background: var(--color-cyan-alpha);
	padding: 2.5rem .625rem;
	border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
	margin: 0 auto 1.25rem auto;
	padding: .25rem;
}

.form-control {
	display: block;
	width: 100%;
	height: 2.375rem;
	padding: .375rem .75rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(32, 251, 46, .25);
}

.input-radio,
.input-checkbox {
	display: inline-block;
	margin-right: .625rem;
	min-height: 1.25rem;
	min-width: 1.25rem;
}

.input-textarea {
	min-height: 120px;
	width: 100%;
	padding: .625rem;
	resize: vertical;
	border-radius: .25rem;
}

.submit-button {
	display: block;
	width: 100%;
	padding: .75rem;
	background: var(--color-green);
	color: inherit;
	border-radius: .25rem;
	cursor: pointer;
}