@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }

  .contributors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131c2b;
    padding-bottom: 2.75rem;
    border-bottom: 1px solid gray;
  }

  .contributors-container h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 2.5rem 0;
  }

  .contributors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 8%;
  }

  .avatar {
    border-radius: 50%;
    width: 4rem;
  }

  .contribute-btn {
    display: flex;
    align-items: center;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 3rem;
    letter-spacing: 1.5px;
    background-color: #003479;
  }

  .contribute-btn img {
    width: 2.2rem;
    color: black;
    margin-right: 5px;
  }

  /*-------sos button ---------*/
  #mySBtn {
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red !important;
    /* Set a background color */
    color: white !important;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 25px !important;
    /* Some padding */
    border-radius: 50%;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
  }

  #mySBtn:hover {
    background-color: #fff !important;
    /* Add a dark-grey background on hover */
    color: red !important;
    font-weight: 700 !important;
  }

  /*-----end of sos button----*/

  .contact-form-container {
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
}

.contributors {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contributors-container {
  padding-top: 20px;
}

/*-----end of sos button----*/
.main{
  margin-top: 1000px;
}
body {
  font-family: "Oxygen", sans-serif;
  color: #050505;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  
  margin: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  position: relative;
  max-height: 250px;
}

.card_image img {
   width: 100%;
  height: 100%;
  object-fit: fill; 
}



.note {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px 8px;
  border-radius: 0.25rem;
  background-color: #c89b3f;
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  position: relative;
  padding: 16px 12px 32px 24px;
  margin: 16px 8px 8px 0;
  max-height: 290px;
  overflow-y: scroll;
}

.card_content::-webkit-scrollbar {
  width: 8px;
}

.card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.card_content::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 15px;
}

.card_title {
  position: relative;
  margin: 0 0 24px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.card_title::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c89b3f;
  content: "";
}

hr {
  margin: 24px auto;
  width: 50px;
  border-top: 2px solid #c89b3f;
}

.card_text p {
  margin: 0 0 24px;
  font-size: 14px;
  line-height: 1.5;
}

.card_text p:last-child {
  margin: 0;
}


