@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Sora', sans-serif;
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
