@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Ubuntu:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Montserrat', sans-serif;
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
